html {
    background-size: contain
    background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
}

h2 {
	text-align: center;
}

footer {
	font: 15px;
	color: white;
    width: 100%;
    height: 81px;
    position: fixed;
    bottom: 0;
    left: 0;
}

form{
    margin: auto;
    width: 35%;
    max-width: 500px;
    padding: 0px;
}

input{
    display: block;
    padding: 8px;
    width: 100%;
    margin: 15px 0;
    font-size: 20px;
}

input[type="submit"]{
    background: linear-gradient(to bottom,#C82D0B, #352F2E);
    border: 0;
    color: white;
    opacity: 1;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 0;
}