<!DOCTYPE.html>
  <html>
     <head>
       <meta charset="utf-8">
       <title>[CodiZ]</title>
       <link rel="stylesheet" type="text/css" href="normal.css">
       <link rel="icon" type="image/png" href="/media/icon.png" />
     </head>
     <body background="/media/images.jpg">
       <h2>
       	<img src="/media/logo.Bv9ettdV9dsBUGw0pY">
       </h2>
       <form action="">
         <input type="text" placeholder="Username" name="user" />
         <input type="password" placeholder="Password" name="key"/>
         <form method="get" action="IR A PAGINA CON LOG HECHO">
         <input type="submit" value="Login" />
         <form method="get" action="IR A PAGINA PARA REGISTRARSE">
         <input type="submit" value="Sign up" />
         <form method="get" action="IR A PAGINA PARA REGISTRARSE">
         <input type="submit" value="Play without registration" />
       </form>
     </body>
  </html>