@media only screen and (max-device-width:640px) {
    .App {
    background-color: #296;
    min-height: calc(100vh);
  }

  .Nav-bar{
    background-color: #266;
    height: 80px;
  }

  button{
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
  }

  .App-logo {
    height: 65px;
  }

  .Play, .Answer, .StartPlay, .LogoutButtons{
    width: 180px;
    font-size: 20px;
  }

  .Content{
    background-color: #298;
  }

  .Log-in{
    position: absolute;
    right: 15px;
  }

  .Sign-in{
    position: absolute;
    right: 15px;
    top: 45px;
  }

  .Avatar{
    max-height: 100px;
  }

  .TableTop{
    margin-left: 185px;
  }

  .TableUser{
    margin-left: 155px;
  }

  .App-intro {
    text-align: center;
    font-size: medium;
  }
}

@media only screen and (min-device-width:640px) {
  .App {
    background-color: #296;
    min-height: calc(100vh);
  }

  .Nav-bar{
    background-color: #266;
    height: 80px;
  }

  button{
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
  }

  .App-logo {
    margin-left: 50px;
    height: 70px;
  }

  .Play, .Answer, .StartPlay, .LogoutButtons{
    width: 500px;
    font-size: 60px;
  }

  .Content{
    background-color: #298;
  }

  .Log-in{
    position: absolute;
    right: 15px;
  }

  .Sign-in{
    position: absolute;
    right: 15px;
    top: 45px;
  }

  .Avatar{
    max-height: 165px;
  }

  .TableTop{
    margin-left: 625px;
  }

  .TableUser{
    margin-left: 580px;
  }

  .App-intro{
    text-align: center;
    font-size: large;
  }
}
