.App {
  height: 100%;
  background-color: #296;
}

.Nav-bar{
  background-color: #266;
  height: auto;
}

button{
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
  }

.App-logo {
  margin-left: 50px;
  height: 70px;
}

.Play, .Answer{
  width: 500px;
  font-size: 60px;
}

.Content{
  background-color: #298;
}

.Log-in{
  position: absolute;
  margin-left: 1050px;
}

.Sign-in{
  position: relative;
  margin-left: 1050px;
}

.App-intro {
  text-align: center;
  font-size: large;
}

